.dark-mode {
  background-color: #37383c !important;
  color: white !important;
}

.trending-gifos-dark {
  background-color: #222326;
}

.text-dark-mode {
  color: white;
}

.input-dark-mode {
  background: #37383c;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.dark-ver-mas {
  color: black;
  border: 1px solid white;
}

.dark-ver-mas:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.hover-slider-left:hover {
  cursor: pointer;
  background: #ffffff;
}

.hover-slider-right:hover {
  cursor: pointer;
  background: #ffffff;
}

.h2-title-search-dark-mode {
  font-family: "Roboto" !important;
  font-size: 15px !important;
  text-align: left !important;
  color: #ffffff !important;
}

.h3-title-search-dark-mode {
  font-family: 'Roboto' !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: left !important;
  color: #ffffff !important;
}
