.dark-mode {
  background-color: #37383c;
  color: white;
}

.trending-gifos-dark {
  background-color: #222326;
}

.text-dark-mode {
  color: white;
}

.modal-dark-mode {
  background: #37383c;
}

.input-dark-mode {
  background: #37383c;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.dark-ver-mas {
  color: black;
  border: 1px solid white;
}

.dark-ver-mas:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.hover-slider-left:hover {
  cursor: pointer;
  background: #ffffff;
}

.hover-slider-right:hover {
  cursor: pointer;
  background: #ffffff;
}
